.navbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 5rem;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding-inline: 30px;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border-radius: 13px;
    z-index: 100;
}

.logo{
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.logo svg{
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
    align-items: center;
}

.nav-links,
.nav-links-mobile{
    color: white;
    padding: 0.7rem 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s ease;
}

.nav-links:hover{
    background-color: rgba(88, 88, 238);
    border-radius: 4px;
}

.menu-icons{
    display: none;
}

.menu-icons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    display: grid;
    font-size: 1.3rem;
}

.nav-links-mobile{
    padding: 0.5rem 1rem;
    background-color: #fafafa;
    border-radius: 3px;
    font-size: 0.9rem;
    color: #222;
    font-weight: 600;
}


@media screen and (max-width: 850px){
    .menu-icons{
        display: inline;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(255, 255, 255, .25);
        gap: 0;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 5rem 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: left 500ms cubic-bezier(1, 0, 0, 1);
    }

    .nav-menu.show{
        left: 0;
    }

    .nav-links,
    .nav-links-mobile
    {
        color: #222;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
    }

    .nav-links:hover{
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(20px);
    }

    .nav-links-mobile{
        width: 80%;
        padding: 1.5rem;
        margin-inline: auto;
    }
} 